/*---- Кнопки-фильтры в Портфолио ----*/
.button-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width:767px) {
        row-gap: 15px;
    }

    @include mq(tablet) {
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    @include mq(desktop){
        margin-bottom: 50px;
    }
}

.button-list>.item {
    &:not(:last-child) {
        margin-right: 8px;
    }
}

.portfolio-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    cursor: pointer;

    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;

    transition: background-color var(--transition-duration) var(--cubic-bezier),
        box-shadow var(--transition-duration) var(--cubic-bezier),
        color var(--transition-duration) var(--cubic-bezier);

    &:hover,
    &:focus {
        color: #FFFFFF;
    
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

}

.portfolio .btn-active {
    color: #FFFFFF;

    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}