/*---- Список проектов в Портфолио ----*/
.project-list {
    margin-top: 40px;

    @include mq(tablet){
        display: flex;
        flex-wrap: wrap;
        margin:-15px;
    }
}

.project-list>.item {
    width: 100%;
    max-width: 450px;

    @media screen and (max-width:767px){
    &:not(:last-child) {
        margin-bottom: 30px;
        }
    }

    @include mq(tablet){
        margin: 15px;
        flex-basis:calc((100% - (2 * 30px)) / 2);
    }

    @include mq(desktop){
        flex-basis:calc((100% / 3) - 30px);
    }
}

.project-card {
    display: block;

    text-decoration: none;

    transition: box-shadow var(--transition-duration) var(--cubic-bezier);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
        transform: translateY(-100%);
        opacity: 1;
        }

    @media screen and (min-width:767px) and (max-width:1199px){
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.overlay-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 24px;

    width: 100%;
    height: 100%;
    opacity: 0;

    font-size: 14px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
    transition: transform var(--transition-duration) var(--cubic-bezier),
        opacity var(--transition-duration) var(--cubic-bezier);

    @include mq(mobile){
        display: block;
        padding: 77px 24px;
        font-size: 18px;
    }

    @include mq(tablet) {
        padding: 49px 24px 77px 24px;
    }

    @include mq(desktop) {
        padding: 63px 24px;
    }
}

.project-description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border: 1px solid #EEEEEE;
    border-top: none;

    @media screen and (min-width:768px) and (max-width:1199px){
        flex-grow: 1;
    }
}

.project-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.project-filter-part {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}